[user]
	name = 812lcl
	email = 812liuchunlei@163.com
[github]
    user = 812lcl
[push]
    default = simple
[merge]
    tool = vimdiff
[core]
	excludesfile = /Users/812lcl/.gitignore_global
[commit]
	template = /Users/812lcl/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[icdiff]
	options = --highlight --line-numbers
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.myteksi.net:"]
	insteadOf = https://gitlab.myteksi.net/
[pull]
	rebase = false
